{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Détails du modèle : {{ modele.name }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Fiche du modèle: {{ modele.name }}</h2>
    <p>Date d'ajout: {{ modele.timestamp }}</p>
    <a href="{% url 'modele_list' %}" class="btn btn-primary">Retour à la liste</a>
    <button class="button-52" id="btnOpenVarianteModal" role="button">Ajouter une variante</button>

    <div id="varianteModal" class="modal">
        <div class="modal-content">
            <button class="close" class="close">&times;</button>
            <h2>Ajouter une variante</h2>
            <form action="{% url 'add_variante' modele.uuid %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Ajouter</button>
            </form>
        </div>    
    </div>

    <h3>Variantes</h3>
    <div class="card-container">
        {% for variante in modele.variantes.all %}
            <div class="card">
                <div class="card-model">
                    <h4 class="card-title">{{ variante.name }}</h4>
                    <form action="{% url 'delete_variante' variante.uuid %}" method="post">
                        {% csrf_token %}
                        <a class="button-80" onclick="this.closest('form').submit();">Supprimer</a>
                    </form>
                    <a class="button-80" href="{% url 'variante_detail' variante.uuid %}">Détails</a>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <script>
        const varianteModal = document.getElementById("varianteModal");
        const btnOpenVarianteModal = document.getElementById("btnOpenVarianteModal");
        const span = document.getElementsByClassName("close")[0];
        
        btnOpenVarianteModal.onclick = function() {
            varianteModal.style.display = "block";
        }
        
        span.onclick = function() {
            varianteModal.style.display = "none";
        }
        
        window.onclick = function(event) {
            if (event.target == varianteModal) {
                varianteModal.style.display = "none";
            }
        }
    </script>
</body>
</html>
